<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/naidu.css "%}">
    <title></title>
  </head>
  <body>
    <div class="container" align='center'>


      <marquee behavior="scroll"  scrollamount="6" direction="left"><h1>Wish you a happy married life myfriend ...Vengaiah</h1></marquee>

    <marquee scrollamount="6"
direction="left"
behavior="scroll">


<img src="{%static "images/dear-friend.jpg"%}" alt=''>&npsp &npsp&npsp &npsp
<img src="{%static "images/wish.png"%}" alt=''>

</marquee>
  </div>
  </body>
</html>
